img.link-multilingual {
    margin-left: 0.25em;
}
span.link-multilingual {
    display: inline;
}
span.link-multilingual span {
    display: inline;
}
span.link-multilingual span a:link,
span.link-multilingual span a:visited {
    display: inline-block;
    margin: 0.25em;
	padding: 0.1em; 
    min-width:1.2em;
	vertical-align: baseline;
	line-height: 1;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
  	outline: none;
    white-space:nowrap;
}
span.link-multilingual span a:hover,
span.link-multilingual span a:active {
	background-color: #369;
	color: #fff;
	border: 1px solid #036;
	outline: none;
}
span.link-multilingual-popup {
    position: relative;
}
span.link-multilingual-popup span {
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0.25em;
    padding: 0.25em;
    top: -0.7em;
    z-index: 1000;
	border: 1px solid #369;
	background: #eaf5ff;
}
