parameters:
    git_dir: .
    bin_dir: vendor/bin
    tasks:
        phpcs:
            standard: vendor/drupal/coder/coder_sniffer/Drupal/,vendor/drupal/coder/coder_sniffer/DrupalPractice/
            triggered_by:
                - inc
                - module
                - php
