/* CSS crunched with Crunch - http://crunchapp.net/ */
.title-en{background-image:url("../images/title/title_en.gif");}
.title{}
.layout{background:transparent;font-size:92%;}
.layout-body{margin-top:0;}
.layout-content{position:relative;padding-top:15px;}
.layout-left{margin-left:5px;margin-top:44px;}
.layout-noright #additional-tools{margin-right:-5px;margin-top:2px;}
#path li{line-height:1.6;color:#fff;}
.layout-footer{padding-bottom:0;}
