# Ignore metadata from common editors and IDEs.
*.sublime-project
*.sublime-workspace
.idea/
nbproject/

# Ignore local configuration overrides.
build.properties.local
tests/behat.yml

# Ignore build folders.
bin/
build/
tmp/
vendor/

# Ignore core profiles in the symlinked profiles folder.
profiles/minimal
profiles/standard
profiles/testing

# Ignore contrib modules, themes and libraries in the symlinked profiles folder.
profiles/multisite_drupal_*/libraries
profiles/multisite_drupal_*/modules/contrib
profiles/multisite_drupal_*/themes
