language: generic 
sudo: required
dist: trusty
before_script:
    - echo "Testing for PHP version ${PHP_VERSION} ${MYSQL_PACKAGE} ..."
    - sudo apt-get update > /dev/null
    - sudo apt-get install python-software-properties
    - sudo add-apt-repository -y ${PHP_PPA_REPO}
    - sudo add-apt-repository -y ${MYSQL_PPA_REPO}
    - sudo apt-get update > /dev/null
    - sudo apt-get install -y --force-yes lighttpd php5-cgi php5-curl php5-mysql php5-intl ${MYSQL_PACKAGE}
    # lighty drupal server :
    - mkdir build
    - wget "https://gist.githubusercontent.com/gboddin/20a900c2d3c65a3a6615/raw/790b5a56fd673b3dae215dd5b76170647890240f/drupal_dev_lighttpd.sh" -qO drupal_lighty_server && chmod +x drupal_lighty_server && ./drupal_lighty_server build ${HTTP_SERVER_PORT} & 
script:
  - curl -sS https://getcomposer.org/installer | php
  - ./composer.phar install -o --no-interaction --ansi --no-scripts --no-progress --no-dev
  # checking if we can build dist :
  - ./bin/phing 'build-multisite-dist' -D'composer.bin'='./composer.phar'
  # archiving the result for later release ( php 5.6 only and on tagging ):
  - if [[ "${PHP_VERSION}" == "5.6" ]]; then tar cz build > next-europa-platform-${TRAVIS_TAG}.tar.gz ; fi
  # now installing dev deps as well :
  - ./composer.phar install -o --no-interaction --ansi --no-scripts --no-progress 
  # checking if we can build dev :
  - ./bin/phing 'build-platform-dev' -D'behat.base_url'="http://127.0.0.1:${HTTP_SERVER_PORT}/" -D'composer.bin'='./composer.phar'
  # perform cs tests :
  - ./bin/phpcs -p --colors --report=full --standard=phpcs.xml profiles
  - ./bin/phpcs -p --colors --report=full --standard=phpcs.xml src
  # install the platform on the local dbserver :
  - ./bin/phing 'install-platform' -D'drupal.db.password'='' -D'drupal.db.user'='root'
  # run the behat tests :
  - ./bin/behat -c build/behat.yml --colors
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: mjJBmbunwTVl6xWVf+Un6aGEX0xKkAPy/wj75R9Uzhiy4UyvA5dULp8IbzavQvgniOYbunvCYYgswNcylUf7cfQlhoNfRcT+E0lvHH+BpHj5QdPdtaQTPzjkaFjcTL3fm1tZV+bPaWuvWjDiqClUnqMlmveH3JfB7BNNi8Ylr1vf64v9GHbDnxN0io2PO9eIQ7GyAuvliWan0l2HwOblp9r2UVQQCo9a/31Yhn7mp8X17OyEAyyB7vva6tswybzBAGCND/GtmMcFfSnWMUyI1opeJe7v04LPPh7HVfT3R/JtXjYUO7kEBKmXca8FptKTnGnB17FJMThiCAogTG1QjtCqe95kAhL2wJp8prpghuNmLYGbfDuFmJIQaA2C67VQCtHRKD2zhKLhW5zbH0YM2rg3A5trGU69hrE7uTYX65dyOldnEeBMZYRI9jeyNgdaWzGdreJaJOwKK/Yu+uAC1bBB9s814XbE72ZNpfTDrRyzMOP5NNwsTfLNipQCYEVLRk6mR8KV9pnnrnNfNr2hfomBRAtI6Q97td9VOREs3nVvTdYkTFQ+SNiWPtTYUmZnX/JxrrwkW4C2yNvubXF0uFZHxW66kQZM8PlMj6EO4rhKguBKPhIEioYOK1tT7IqL/RFH6B6cnWrFvmpCkoXwtWEETu5tky+0UpP0t3F4J+4=
  file: next-europa-platform-${TRAVIS_TAG}.tar.gz 
  on:
    repo: ec-europa/platform-dev
    tags: true
matrix:
  include:
    - env: PHP_VERSION="5.6" PHP_PPA_REPO="ppa:ondrej/php5-5.6" MYSQL_PACKAGE="mysql-server-5.6" MYSQL_PPA_REPO="ppa:ondrej/mysql-5.6" 
    - env: PHP_VERSION="5.6" PHP_PPA_REPO="ppa:ondrej/php5-5.6" MYSQL_PAKCAGE="mysql-server-5.7" MYSQL_PPA_REPO="ppa:ondrej/mysql-5.7"
    - env: PHP_VERSION="5.6" PHP_PPA_REPO="ppa:ondrej/php5-5.6" MYSQL_PACKAGE="percona-server-server-5.6" MYSQL_PPA_REPO="deb http://repo.percona.com/apt trusty main"
    - env: PHP_VERSION="5.6" PHP_PPA_REPO="ppa:ondrej/php5-5.6" MYSQL_PACKAGE="mariadb-server-10.0" MYSQL_PPA_REPO="ppa:ondrej/mariadb-10.0"
    - env: PHP_VERSION="5.5" PHP_PPA_REPO="ppa:ondrej/php5" MYSQL_PACKAGE="mysql-server-5.5" MYSQL_PPA_REPO=""ppa:ondrej/mysql-5.5"
