/*
Text styling

Styleguide text
*/

// Global
body {
  font-weight: 400;
  line-height: 1.667;

  overflow-x: hidden;

  min-width: 320px;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint(screen-xs-min) {
    font-size: 18px;
  }
}
