// Headers
h1,
.h1 {
  font-size: $font-size-h1;

  color: $blue;
}
h2,
.h2 {
  font-size: $font-size-h2;

  color: #000;
}
h3,
.h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;

  color: $gray-darker;
}
h4,
.h4 {
  font-size: $font-size-h4;

  color: $gray-dark;
}
h5,
.h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-bold;

  color: $gray-darker;
}
h6,
.h6 {
  font-size: $font-size-h6;

  color: $gray-darker;
}
