/*
Label

Markup: html/label.html

Styleguide form.label
*/

.label {
  color: $form-control-text-color;
  font-size: $font-size-little;
  display: block;
  text-align: left;
  padding: 0;
  margin-bottom: 0.556em;
  &.is-disabled {
    color: $form-control-color-disabled;
  }
}

label {
  @extend .label;
}