/*
Radio

Markup: html/radio.html

Styleguide form.radio
*/

/*
 * Please
 * @see http://bootsnipp.com/snippets/featured/funky-radio-buttons
 * @see http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953
 */

// Component
.radio {
  margin-bottom: 2px;
  margin-top: 0;

  label {
    color: $form-checkbox-color-unchecked;
    height: $form-control-height;
    line-height: $form-control-height;
    display: block;
    text-align: left;
    border: transparent solid 2px;
    border-radius: 0;
  }

  input {
    margin: 1px 0 0 13px;
  }
  
  // Radio
  input[type="radio"] {
    height: $form-control-height;
    margin-left: -9999px;
    position: relative;
    float: left;

    // Default state.
    &:not(checked)+label {
      background-color: $form-checkbox-background-color-unchecked;
      padding-left: 2.778em;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: $form-checkbox-icon-size;
        height: $form-checkbox-icon-size;
        top: 0.8em;
        left: 1em;
        background: url(../images/svg/radio-unchecked.svg) no-repeat;
        background-size: auto $form-checkbox-icon-size;
      }
    }

    // Checked state.
    &:checked+label {
      color: $form-checkbox-color-checked;
      background-color: $form-checkbox-background-color-checked;

      &:before {
        background-image: url(../images/svg/radio-checked.svg);
      }
    }

    // Hover state, not checked.
    &:hover:not(checked)+label {
      color: $form-checkbox-color-unchecked-hover;
      border: $form-checkbox-border-color-unchecked-hover solid 2px;
      background-color: $form-checkbox-background-color-unchecked-hover;
    }

    // Hover state, checked.
    &:hover:checked+label {
      color: $form-checkbox-color-checked-hover;
      border: $form-checkbox-border-color-checked-hover solid 2px;
      background-color: $form-checkbox-background-color-checked-hover;
    }
  }
}

.no-svg {
  .checkbox {
    input[type="checkbox"] {
      &:before {
        background-image: url(../images/png/checkbox-radio.png) !important;
      }

      // Checked state.
      &:checked+label {
        &:before {
          background-position: -3*$form-checkbox-icon-size 0;
        }
      }
    }
  }
}