div.language-switcher ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.language-switcher ul li {
  margin-left: 0;
  display: inline-block;
}
div.language-switcher ul li a {
  padding: 0 10px;
  background: #fff;
}
div.language-switcher ul li a.current {
  color: #fff;
  background: #000;
}
