/*
* Styling to prevent CCK and Globan from switching places
* !important needed to override inline style
*/

#cookie-consent-banner {
  margin-top: 28px !important;
}
#globan#globan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
