/*
 * jsTree ec-default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-ec-default { background-color: #015F99; background-image: none; filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); border-color: #074A8B; border-radius: 4px;}
.jstree-ec-default a { display: block; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; color: #fff; height: 22px; line-height: 22px; padding: 0px 4px;}
.jstree-ec-default a:hover { background-color: #074581; color: #fff; border-radius: 4px;}
.jstree-ec-default a.active,
.jstree-ec-default a.active:hover { background-color: #043F72; color: #fff; border-radius: 4px;}
.jstree-ec-default li, 
.jstree-ec-default ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; margin-top: 3px;}
.jstree-ec-default ins { width: 16px; height: 16px;}
.jstree-ec-default li { display: block; background-position:-90px 0; background-repeat:repeat-y; margin-left: 3px;}
.jstree-ec-default li.jstree-last { background:transparent;}
.jstree-ec-default .jstree-open > ins { background-position:-74px 0; cursor: pointer; float: left;}
.jstree-ec-default .jstree-closed > ins { background-position:-56px 0; cursor: pointer; float: left;}
.jstree-ec-default .jstree-leaf > ins { background-position:-38px 0;}

.jstree-ec-default > ul > li { margin-left: 0;}
.jstree-ec-default ul.taxonomy-tree { background-color: #1B6FB8; border-radius: 4px; border: 1px solid #074A8B;}
.jstree-ec-default ul.taxonomy-tree a:hover { border-radius: 4px 0 0 4px;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree { background-color: #3489CB; border-color: #015F99; border-radius: 4px 0 0 4px; border-right-width: 0;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree { background-color: #5E9ED3; border-color: #1B6FB8;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a { color: #333;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a:hover { color: #fff;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree { background-color: #9BC9EB; border-color: #3489CB;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a { color: #333;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a:hover { color: #fff;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree { background-color: #C3E5FC; border-color: #5E9ED3;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a { color: #333;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a:hover { color: #fff;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree { background-color: #F9F9FF; border-color: #9BC9EB;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a { color: #333;}
.jstree-ec-default ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree ul.taxonomy-tree a:hover { color: #fff;}

#tb_browser .jstree-ec-default .jstree-hovered { background:#e7f4f9; padding:3px 5px 3px 1px; }
#tb_browser .jstree-ec-default .jstree-clicked { background:#00609C; padding:3px 5px 3px 1px; color: #fff; font-weight: normal; text-shadow:0 0 1px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: @radius;border-radius:5px; }
#tb_browser .jstree-ec-default a .jstree-icon { background-position:-56px -19px; display: none;}
#tb_browser .jstree-ec-default a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-ec-default .jstree-no-dots li, 
.jstree-ec-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-ec-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-ec-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-ec-default .jstree-no-icons a .jstree-icon { display:none; }

.jstree-ec-default .jstree-search { font-style:italic; }

.jstree-ec-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-ec-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-ec-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-ec-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-ec-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-ec-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-ec-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-ec-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-ec-default ins { background:transparent !important; }
#vakata-dragged.jstree-ec-default .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-ec-default .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-ec-default { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-ec-default a.jstree-search { color:aqua; }
.jstree-ec-default .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-ec-default-context, 
#vakata-contextmenu.jstree-ec-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-ec-default-context li { }
#vakata-contextmenu.jstree-ec-default-context a { color:black; }
#vakata-contextmenu.jstree-ec-default-context a:hover, 
#vakata-contextmenu.jstree-ec-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-ec-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-ec-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-ec-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-ec-default-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-ec-default li, 
.jstree-ec-default ins,
#vakata-dragged.jstree-ec-default .jstree-invalid, 
#vakata-dragged.jstree-ec-default .jstree-ok, 
#jstree-marker.jstree-ec-default { _background-image:url("d.gif"); }
.jstree-ec-default .jstree-open ins { _background-position:-72px 0; }
.jstree-ec-default .jstree-closed ins { _background-position:-54px 0; }
.jstree-ec-default .jstree-leaf ins { _background-position:-36px 0; float: left;}
.jstree-ec-default a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-ec-default-context ins { _display:none; }
#vakata-contextmenu.jstree-ec-default-context li { _zoom:1; }
.jstree-ec-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-ec-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-ec-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */