/* --------------- Main Menu ------------ */
.region-featured {
  min-height: 50px;
}
#main-menu {
  .navbar {
    border-radius: 0;
  }
  .affix {
    width: 100%;
    z-index: 1030;
    top: 0;
    border-bottom: 1px solid @navbar-default-link-active-bg;
  }
  .navbar-toggle,
  .navbar-toggle:hover, 
  .navbar-toggle:focus {
    background-color: #074A8B;
  }
  #sidebar-button {
    float: left;
  }
  .navbar-nav > li > a {
    &.active {
      background-color: #074A8B;
      color: #fff;
      border-radius: @border-radius-large @border-radius-large 0 0;
    }
  }
  .navbar-nav > .open > a, 
  .navbar-nav > .open > a:hover, 
  .navbar-nav > .open > a:focus {
    border-radius: @border-radius-large @border-radius-large 0 0;
  }
}

@media (max-width: @screen-xs-max) {
  #main-menu #sidebar-button {
    margin-left: 15px;
  }
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.9em;
  margin: 10px 10px 0;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ---------------- action bar (expand/collapse/create)  ----------------- */
.action_bar {
  padding: 10px;
  a {
    text-decoration: none;
  }
}
a.btn {
  text-decoration: none;
}

/* --------------- System Tabs  --------------- */
ul.nav-tabs {
  margin-bottom: -1px;
}
.tabs {
  position: relative;
  z-index: 1;
  .tabs-secondary {
    padding-left: 15px;
    background-color: #fff;
    border-right: 1px solid @nav-tabs-border-color;
    border-left: 1px solid @nav-tabs-border-color;
    li {
      margin-top: 5px;
      a {
        border-top: 1px solid @nav-tabs-border-color;
        border-right: 1px solid @nav-tabs-border-color;
        border-left: 1px solid @nav-tabs-border-color;
        border-radius: @border-radius-base @border-radius-base 0 0;
      }
    }
  }
}


/* --------------- Dropdown  --------------- */
.dropdown-menu {
  li.leaf {
    list-style: none;
    padding: 0;
  }
}