/*
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('league_gothic-webfont.eot?') format('eot'),
         url('league_gothic-webfont.woff') format('woff'),
         url('league_gothic-webfont.ttf') format('truetype'),
         url('league_gothic-webfont.svg#webfontxmJcda8u') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


div.node-idea-site .submitted {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    color: #666666;
    float: right;
    font-size: 11px;
    height: 30px;
    line-height: 15px;
    margin: 0;
    min-width: 160px;
    overflow: hidden;
    padding: 5px 5px 4px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
    font-family: Arial,Helvetica,sans-serif;
    
}

div.node-idea-site .submitted img {
    float: left;
    margin-right: 5px;
}

div.idea-edit-vote-wrapper {
  padding: 12px 9px;
  float: left;
  background: #eeeeee;
}

div.ideation-fivestar-static-wrapper{
  clear: both;
}

#main div.node-idea-site span.username, a.username,
#main div.node-idea-site .byline a:link
 {
    color: #666666;
    font-weight: bold;
    vertical-align: baseline;
}

div.node-idea-site .date {
    color: #666666;
    font-size: 11px;
    line-height: inherit;
}

#main .node-idea-site p {
  line-height: 140%;
  font-size: 13px;
}

div.node-idea-site  .node-submitted {
    color: #666666;
    font-size: 11px;
    line-height: 15px;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
}

div.node-idea-site h2 {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  margin-bottom: 0;
  width: 300px;
}

div.node-idea-site h2 a {
  color: #00436f;
  text-decoration: none;
  background: url("images/icon-idea.gif") top left no-repeat;
  display: block;
  padding: 2px 0 12px 55px;
}

div.node-idea-site div.content {
	width: 100%;
}
div.node-idea-site div.actions {
  float: left;
  width: 100%;
}

div.node-idea-site h2 a:hover {
  color: #1670AC;
}

div.fivestar-count {
font-size: 10px;
}

#features-menu li a.icon-ideas span.icon {
  background: url("idea_icon.png") top left;
}

span.feature-ideation {
  background: url("idea_icon.png") bottom left !important;
}

.submitted-voting-grouped {
  float: right;
}

.fivestar-widget-ideas {
	float: right;
	min-width: 168px;
	width: 168px;
	background: #eee;
}

.fivestar-widget-ideas .form-item {
  border: 0px;
  padding-top: 3px;
  padding-left: 4px;
}

.fivestar-widget-ideas .fivestar-tally-box {
  float: left;
}


.fivestar-widget-ideas .fivestar-tally-box {
  float:right;
  width: 55px;
  padding: 4px 0 5px 0;
  text-align: center;
}

.fivestar-tally-box {
 background: #525252;
 color: #FFF;
}

.field-name-field-idea-categories, .field-name-field-idea-status {font-size: 11px; font-weight: bold; margin: 0; padding: 0; line-height: normal; display: inline;}

.field-name-field-idea-categories .field-item {float: left; margin-right: 5px;}

.field-name-field-idea-categories .field-item a,
.field-name-field-idea-status .field-item a
 {color: #999;}

.fivestar-widget-ideas .fivestar-tally-box .fivestar-average {
  font-size: 150%;
}

.fivestar-widget-ideas .fivestar-tally-box .vote-average,
.fivestar-widget-ideas .fivestar-tally-box .vote-total,
.fivestar-widget span.total-votes { display: none; }
.fivestar-static-form-item span.total-votes,
.fivestar-static-form-item span.user-rating { display: none; }
.fivestar-static-form-item .form-item { border: none; }
.fivestar-static-form-item .form-item:hover > .description { display: none; }


.fivestar-widget-ideas .fivestar-form-item {
  float: left;
}

.ideas-watching {

}

.ideas-counter-container .ideas-counter-left{
  float: left;
  width: 80%;
  }
  .ideas-counter-container .ideas-counter-left .ideas-counter-title {
    font-size: 200%;
    padding: 10px 10px 0px 10px;
    }
  .ideas-counter-container .ideas-counter-left .ideas-counter-subject{
    font-size: 150%;
    padding: 10px 10px 0px 10px;
    }
  .ideas-counter-container .ideas-counter-left .ideas-counter-description {
    padding: 10px 10px 0px 10px;
    }

.ideas-counter-container .ideas-counter-right {
  float: right;
  text-align:center;
  width: 20%;
  }

  .ideas-counter-container .ideas-counter-right .ideas-counter-button  {
    padding: 10px;
    }
  .ideas-counter-container .ideas-counter-right .ideas-counter-button a {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    }

  .ideas-counter-container .ideas-counter-right .ideas-counter-ideas-count,
  .ideas-counter-container .ideas-counter-right .ideas-counter-votes-count {
    border-bottom: 1px dotted #ccc;
    line-height: 200%;
    }

  .ideas-counter-container .ideas-counter-right .ideas-counter-better {
    line-height: 200%;
    }

.view.view-ideas-watch .related-value_five {
  float: right;
  padding: 10px 10px 8px 10px;
  font-size: 18px;
}

.view.view-ideas-watch .count {
  clear: right;
}

.field-name-field-idea-watch .active {
  font-size: 9px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  width: 100%;
  float: left;
}

.field-label {
  color: #666;
}

.node-idea-site .field-name-body {
  margin: 10px 0;
}

div.node-idea-site .fivestar-widget {
	float: right;
	clear: none;
}
div.fivestar-widget .star, div.fivestar-widget .star a, div.fivestar-widget-static .star span.off{
  background: url("images/star.png") no-repeat 0 0;
}

div.fivestar-widget div.on a, div.fivestar-widget-static .star span.on {
  background: url("images/star.png") no-repeat 0 -15px;
}

body.page-ideas-recent h1 {
  visibility: hidden;
}

#block-ideation-ideation-box {
  background: url("images/bg-ideation-header.png") repeat-x bottom;
  padding: 20px 15px 20px 30px;
  position: relative;
  margin: 0 0 35px 0;
}

#block-ideation-ideation-box h3 {visibility: hidden; padding: 0; margin: 0; line-height: 0; font-size: 0;}

/*
span.ideation-box-2
 {
  font-family:'LeagueGothicRegular';
  display: block;
  font-size: 50px;
  line-height: 110%;
  text-shadow: 0 1px 0 #FFFFFF;

}

span.ideation-box-1
 {
  font-family:'LeagueGothicRegular';
  display: block;
  text-transform: uppercase;
  color: #666;
  font-size: 46px;
  margin-bottom: -10px;
  text-shadow: 0 1px 0 #FFFFFF;

}
*/

/*
#block-ideation-ideation-box .content a {
  display: block;
  font-family:'LeagueGothicRegular';
  width: 216px;
  color: #FFF;
  text-align: center;
  float: right;
  position: absolute;
  left: 330px;
  top: 60px;
  padding: 13px 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 23px;
   background: #5198b6; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5198b6', endColorstr='#3482a0'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5198b6), to(#3482a0)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #5198b6,  #3482a0); /* for firefox 3.6+ */
    border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius:17px;  
  cursor:pointer;
  border: 1px solid #267390;
    -moz-box-shadow: 0 1px 1px #666;
  -webkit-box-shadow: 0 1px 1px #666;
  box-shadow: 0 1px 1px #666;
}

#block-ideation-ideation-box .content a:hover {
   background: #5198b6; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60b3d6', endColorstr='#3e98bb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#60b3d6), to(#3e98bb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #60b3d6,  #3e98bb); /* for firefox 3.6+ */
  border: 1px solid #2f8aad;
}
*/


body.page-ideas-recent h1#page-title {margin: 0; padding: 0; line-height: 0; font-size: 0;}

.node-idea-site {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
}

.node-idea-site ul.links {
  padding: 0;
  margin: 0;
  font-size: 9px;
  font-weight: bold;
  margin: 0 0 15px 0;
  display: block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.node-idea-site ul.links a {
  color: #999;
}

.node-idea-site ul.links a:hover {
  color: #CCC;
  text-decoration: underline;
}

.node-idea-site ul.inline li {
  padding-left: 0;
  margin-left: 0;
}

#block-ideation-ideation-submit-idea h3 {
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  padding: 0; margin: 0;
}

#right-rail #block-ideation-ideation-submit-idea {background-image: none; border: none; background: none; text-align: center;}

#block-ideation-ideation-submit-idea .content a {
  display: block;
  font-family:'LeagueGothicRegular';
  width: 280px;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
   background: #5198b6; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5198b6', endColorstr='#3482a0'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5198b6), to(#3482a0)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #5198b6,  #3482a0); /* for firefox 3.6+ */
    border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius:18px;  
  cursor:pointer;
  border: 1px solid #267390;
    -moz-box-shadow: 0 1px 1px #666;
  -webkit-box-shadow: 0 1px 1px #666;
  box-shadow: 0 1px 1px #666;

}

#block-ideation-ideation-submit-idea .content a:hover {
   background: #5198b6; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60b3d6', endColorstr='#3e98bb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#60b3d6), to(#3e98bb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #60b3d6,  #3e98bb); /* for firefox 3.6+ */
  border: 1px solid #2f8aad;
}

.view-most-popular-content .right-list li {
  font-family: Arial, sans-serif;
  font-style: normal;
  padding: 3px 0;
}

.views-exposed-widget label {
  float: left;
  display: block;
  width: 90px;
  text-align: right;
  padding-right: 5px;
  color: #666;
  font-size: 11px;
}

.views-exposed-widget .views-widget{
  float: left;
}

.views-exposed-widget select,
.views-exposed-widget .form-text 
{color: #666;}

.views-exposed-form .views-submit-button {
  float: none;
  clear: both;
  margin-left: 95px;
  margin-top: 6px;
 }

.views-exposed-form .views-submit-button input {
   border: 1px solid #bbb;
   color: #333;
   font-size: 11px;
    background: #fff; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #f4f4f4); /* for firefox 3.6+ */
    border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius:18px; 
  padding: 2px 10px;
   text-shadow: 0 1px 0 #FFFFFF;
     cursor:pointer;
}


.views-exposed-form .views-exposed-widget .form-submit {margin-top: 2px;}


#right-rail .view-ideas-watch {padding: 0 15px;}

#right-rail .view-ideas-watch a.username,
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 a.username
 {
float: left; color: #999; font-size: 10px;
margin-right: 5px;
}

#right-rail .view-ideas-watch .views-row
 {
  padding: 5px 0;
  border-bottom: 1px solid #dfdfdf;
}

#right-rail .view-ideas-watch .views-field-created,
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-created 
{
  color: #999; 
  font-size: 10px; 
  margin-left: 5px;
}

#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-title,
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-name,
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-created{
  margin-left: 25px;
}

ul.ideas li {
  list-style-type: none;
  color: #333;
  font-size: 11px;
  }

#right-rail ul.ideas p {
  font-family: Arial, sans-serif;
    border: 1px solid #e2e2e2;
  background: #FFF;
  padding: 5px;
  margin: 0 0 0 0;
  color: #333;
  }
  
#right-rail ul.ideas li{
     margin: 15px 15px 15px 15px;
  }
  
#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-title {
  background: url("images/bg-comment-btm.png") 10px -2px no-repeat;
  padding: 0 0 0 25px;
  margin: 0;
}

#right-rail #block-views-4fc346cc5920b0b8027cf39c18f31cb1 .views-field-title a {
  padding-top: 4px;
  display: block;
}


body.node-type-idea-site h1#page-title {
 background: url("images/icon-idea.gif") top left no-repeat;
  padding: 2px 0 19px 53px;
}

body.node-type-idea-site .fivestar-widget-ideas {
  margin-top: 0;
}

body.node-type-idea-site .field-name-field-idea-watch a {
  color: #999;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

body.node-type-idea-site #main .node-idea-site p {
  line-height: 170%;
  font-size: 1.083em;
}

body.node-type-idea-site form#comment-form {
  clear: both;
  margin: 10px 0 0 0;
}

body.node-type-idea-site  h2.comment-form {
  float: none;
}

body.node-type-idea-site #edit-comment-body-und-0-format {
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

body.node-type-idea-site #edit-actions {
  border: none;
  margin-top: -30px;
}

body.node-type-idea-site .field-name-body {
  margin-top: 35px;
}

body.node-type-idea-site div.node-idea-site #edit-actions input{
     border: 1px solid #bbb;
   color: #333;
   font-size: 11px;
    background: #fff; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #f4f4f4); /* for firefox 3.6+ */
    border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius:18px; 
  padding: 2px 10px;
   text-shadow: 0 1px 0 #FFFFFF;
     cursor:pointer;
}


body.node-type-idea-site .comment-form label {
  color: #919191;
}

body.node-type-idea-site .comment-form .form-text, 
body.node-type-idea-site .comment-form .form-textarea
 {
  background: -webkit-gradient(linear,lefttop,leftbottom,from(#fff), to(#fafafb));
/* for webkit browsers */
	background: -moz-linear-gradient(top,#fff,#fafafb);
/* for firefox 3.6+ */
padding: 4px 7px;
	border: 1px solid #bcbcbc;
	color: #666;
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #fcfcfc;
}




