default:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\nexteuropa\Context\DrupalContext
        - Drupal\nexteuropa\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
      filters:
        tags: "~@communities&&~@wip&&~@i18n&&~@api"
  extensions:
    Behat\MinkExtension:
      goutte: ~
      javascript_session: 'selenium2'
      selenium2:
        wd_host: "http://localhost:8643/wd/hub"
        capabilities:
          version: ''
      base-url: '{{ behat.base_url }}'
      files_path: '{{ platform.build.dir }}'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      blackbox: ~
      drupal:
        drupal_root: '{{ platform.build.dir }}'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'
      subcontexts:
        paths:
          - '{{ behat.subcontexts.path }}'
      drush:
        root: '{{ platform.build.dir }}'
        binary: "{{ drush.bin }}"
      region_map:
        admin_menu: "#admin-menu-menu"
        content_top: ".region-content-top"
        header_top: ".region-header-top"
        header: "#layout-header"
        primary_tabs: ".tabs-primary"
        content: "#layout-body"
        footer: "#layout-footer"
        messages: "#console"
  formatters:
    {{ behat.formatter.name }}: ~

communities:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\nexteuropa\Context\DrupalContext
        - Drupal\nexteuropa\Context\MinkContext
      filters:
        tags: "@communities&&~@wip"
  extensions:
    Behat\MinkExtension:
      goutte: ~
      javascript_session: 'selenium2'
      selenium2:
        wd_host: "http://localhost:8643/wd/hub"
      base-url: '{{ behat.base_url}'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      blackbox: ~
      drupal:
        drupal_root: '{{ platform.build.dir}'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
      subcontexts:
        paths:
          - '{{ behat.subcontexts.path }}'
      region_map:
        content_top: ".region-content-top"
        header_top: ".region-header-right"
        header: "#layout-header"
        primary_tabs: ".tabs-primary"
        content: "#layout-body"
        footer: "#layout-footer"
        messages: "#console"
  formatters:
    {{ behat.formatter.name }}: ~
