.js .notice {
  display: none;
}

.notice {
  position: relative;
}

.notice__btn-close {
  display: none;
  position: absolute;
  top: 7px;
  right: 7px;
}
.js .notice .notice__btn-close {
  display: block;
}
.notice__btn-close .glyphicon {
  font-size: 1.5em;
  padding: 0;
}

.notice.is-open {
  display: block !important;
}
.notice.is-close {
  display: none !important;
}
