// Bootstrap
@import "bootstrap";

// Importing bootstrap variables
@import "mixins";


// Base
@import "base/font";
@import "base/global";
@import "base/headers";
@import "base/paragraphs";

// Layout
@import "layout/container-fluid";

// Components
@import "components/logo";
@import "components/banner";
@import "components/page-header";
@import "components/footer";
