/*----- Set 1 -----*/
//main colors
@body_color:  #ffffff; //#ffffff
@text_color:  #3b3b3b; //#3b3b3b

//header colors
@h1_color: #113355; //#113355
@h2_color: #336699; //#336699
@h3_color: #003366; //#003366
@h4_color: #003366; //#003366
@h5_color: #336699; //#336699
@h6_color: #003366; //#003366

//links colors
@link_color:               #027AC6; //#027AC6
@link_hover_color:   #003366; //#003366
@link_active_color: #003366; //#003366

//block colors
@block_bg_color:                    #F5F5F5; //#F5F5F5
@block_text_color:                #3b3b3b; //#3b3b3b
@block_link_color:                #027AC6; //#027AC6
@block_link_hover_color:    #003366; //#003366
@block_link_active_color:  #003366; //#003366

//primary tabs colors
@primary_tab_bg_color:      #0065a2; //#0065a2
@primary_tab_text_color:  #ffffff; //#ffffff
/*----- /Set 1 -----*/

/*----- Set 2 -----*/
/*//main colors
@body_color:  #0065A2; //#ffffff
@text_color:  #dddddd; //#3b3b3b

//header colors
@h1_color: #113355; //#113355
@h2_color: #336699; //#336699
@h3_color: #003366; //#003366
@h4_color: #003366; //#003366
@h5_color: #336699; //#336699
@h6_color: #003366; //#003366

//links colors
@link_color:               #dddddd; //#027AC6
@link_hover_color:   #e88a24; //#003366
@link_active_color: #e88a24; //#003366

//sidebar colors
@sidebar_bg_color:     #e88a24; //#f2f2f2
@sidebar_text_color: #000000; //#3b3b3b
@sidebar_link_color: #000000; //#3b3b3b

//tabs colors
@primary_tab_bg_color:      #e88a24; //#0065a2
@primary_tab_text_color:  #000000; //#ffffff*/
/*----- /Set 2 -----*/

/* ---------- Color Module Styles ----------- */

body,
body.overlay,
li,
label { color: @text_color; }

h1 {color: @h1_color; }
h2 {color: @h2_color; }
h3 {color: @h3_color; }
h4 {color: @h4_color; }
h5 {color: @h5_color; }
h6 {color: @h6_color; }

table {
  tr {
    &.odd { background-color: transparent; }
    &.even  { background-color: transparent; }
    td {
      &.active { background-color: transparent; }
    }
  }
}

.comment {
  .comment-arrow { border-color: @body_color; }
}

.layout { background: @body_color; }

ul {
  .secondary {
    border-color: darken(@body_color,15%);
    li { border-color: darken(@body_color,15%); }
  }
}

a {
  color: @link_color;
  &:hover { color: @link_hover_color; }
  &:focus { color: @link_hover_color; }
  &:active { color: @link_active_color; }  
  &:visited { color: @link_color; }
}

.meta { color: #999999; }

.layout-footer { color: @link_color; }

/* ---------------- news  ----------------- */
#slider.news {
  .content > .view-news > .news_content {
    background-color: @body_color;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
  }
  .news_list {
    background-color: #D9EDF7;
  }
}

/* ---------------- Events  ----------------- */
.calendar-calendar {
  .month-view .full {
    td.multi-day div.monthview {
      background-color: @primary_tab_bg_color; 
      border: #000 1px solid;
      a { 
        color: @primary_tab_text_color;
        text-shadow: 1px 1px #000000;
      }      
      .cutoff {
        background-color: @primary_tab_bg_color !important; 
      }
    }
    td.single-day div.monthview {
      border: #000 1px solid;
      a { 
        color: @primary_tab_text_color;
        text-shadow: 1px 1px #000000;
      }    
      .cutoff {
        background-color: @primary_tab_bg_color !important; 
      }
    }
  }
  .week-view .full {
    td.multi-day div.weekview {
      background-color: @primary_tab_bg_color; 
      border: #000 1px solid;
      a { 
        color: @primary_tab_text_color;
        text-shadow: 1px 1px #000000;
      }
      .cutoff {
        background-color: @primary_tab_bg_color !important; 
      }      
    }
    td.single-day div.weekview {
      background-color: @primary_tab_bg_color; 
      border: #000 1px solid;
      a { 
        color: @primary_tab_text_color;
        text-shadow: 1px 1px #000000;
      }
      .cutoff {
        background-color: @primary_tab_bg_color !important; 
      }      
    }
  }
  .day-view .full {
    div.single-day div.dayview { 
      background-color: @primary_tab_bg_color; 
      border-color: #000;
      a { 
        color: @primary_tab_text_color;
        text-shadow: 1px 1px #000000;
      }
      .cutoff {
        background-color: @primary_tab_bg_color !important; 
      }      
    }
  }
  .year-view {
    td table td {
      text-align: center;
    }
  }
}
#block-views-calendar-upcoming-events {
  blockquote.date {
    color: #999;
  }
}