/* Hack for EC css */
.title-en {
  background-image: url("../images/title/title_en.gif");
}
.layout-body {
  margin-top: 15px;
}
.layout-content {
  position: relative;
  padding-top: 15px;
}
.layout-left {
    margin-left: 5px;
    margin-top: 44px;
}
.layout-noright #additional-tools {
  margin-right: -5px;
  margin-top: 2px;
}

/* Hack for bootstrap css */
#header li {
  line-height: 1.4;
}
#path li {
  line-height: 1.6;
  color: #fff;
}
label {
  width: auto;
  float: none;
  text-align: left;
  font-size: 1em;
}
fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0;
  width: auto;
}
.btn-info, .btn-warning, .btn-primary, .btn-success, .btn-success {
  color: #fff !important;
}
#block-search-form .form-actions {
  background-color: transparent;
  border-top: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
}
[class^="icon-"] {
  padding-right: 4px;
  margin-top: 1px;
}
.nav-list .nav-header {
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;  */
 /* -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; */
	margin-top:18px;	  
}