/* Hack for EC css */
.title-en {
  background-image: url("../images/title/title_en.gif");
}
.layout-body {
  margin-top: 15px;
}
.layout-content {
  position: relative;
  padding-top: 15px;
}
.layout-left {
  margin-left: 5px;
}
.layout-noright #additional-tools {
  margin-right: -5px;
  margin-top: 2px;
}

/* Hack for bootstrap css */
#header li {
  line-height: 1.4;
}
#path li {
  line-height: 1.6;
  color: #fff;
}
label {
  width: auto;
  float: none;
  text-align: left;
  font-size: 1em;
}
fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0;
}
.btn-info {
  color: #fff !important;
}
#block-search-form .form-actions {
  background-color: transparent;
  border-top: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
}