/* Hack for EC css */
.title-en {
  background-image: url("../images/title/title_en.gif");
}
.layout-body {
  margin-top: 15px;
}
.layout-content {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  margin-left: 205px;
}
.layout-left {
  margin-left: 5px;
}
.layout-noright #additional-tools {
  clear: left;
}

/* Hack for bootstrap css */
#header li {
  line-height: 1.4;
}
#path li {
  line-height: 1.6;
  color: #fff;
}
label {
  width: auto;
  float: none;
  text-align: left;
  font-size: 1em;
}
fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0;
}
.btn-info {
  color: #fff !important;
}