@font-face {
  font-family: 'multisite-icons';
  src:  url('fonts/multisite-icons.eot?og9abl');
  src:  url('fonts/multisite-icons.eot?og9abl#iefix') format('embedded-opentype'),
    url('fonts/multisite-icons.ttf?og9abl') format('truetype'),
    url('fonts/multisite-icons.woff?og9abl') format('woff'),
    url('fonts/multisite-icons.svg?og9abl#multisite-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="multisite-icon-"], [class*=" multisite-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'multisite-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.multisite-icon-reorder:before {
  content: "\f0ca";
}
.multisite-icon-home:before {
  content: "\e020";
}
.multisite-icon-cogs:before {
  content: "\e021";
}
.multisite-icon-directions:before {
  content: "\e022";
}
.multisite-icon-code:before {
  content: "\e023";
}
.multisite-icon-publish:before {
  content: "\e024";
}
.multisite-icon-language:before {
  content: "\e025";
}
.multisite-icon-pictures:before {
  content: "\e026";
}
.multisite-icon-check:before {
  content: "\f047";
}
.multisite-icon-file:before {
  content: "\f017";
}
.multisite-icon-newspaper:before {
  content: "\e027";
}
.multisite-icon-calendar:before {
  content: "\f074";
}
.multisite-icon-book:before {
  content: "\f02e";
}
.multisite-icon-list:before {
  content: "\e028";
}
.multisite-icon-bookmarks:before {
  content: "\e029";
}
.multisite-icon-notification:before {
  content: "\e02a";
}
.multisite-icon-bubbles:before {
  content: "\e02b";
}
.multisite-icon-edit:before {
  content: "\f045";
}
.multisite-icon-keyboard:before {
  content: "\e03a";
}
.multisite-icon-group:before {
  content: "\f0c1";
}
.multisite-icon-camera:before {
  content: "\e02c";
}
.multisite-icon-location:before {
  content: "\e02d";
}
.multisite-icon-menu:before {
  content: "\e02e";
}
.multisite-icon-pie:before {
  content: "\e02f";
}
.multisite-icon-stats:before {
  content: "\e030";
}
.multisite-icon-archive:before {
  content: "\e031";
}
.multisite-icon-comments-alt:before {
  content: "\f0e7";
}
.multisite-icon-flow-branch:before {
  content: "\e032";
}
.multisite-icon-paperplane:before {
  content: "\e033";
}
.multisite-icon-vcard:before {
  content: "\e034";
}
.multisite-icon-megaphone:before {
  content: "\e035";
}
.multisite-icon-thumbs-up:before {
  content: "\e036";
}
.multisite-icon-feed:before {
  content: "\e037";
}
.multisite-icon-share:before {
  content: "\e038";
}
.multisite-icon-question:before {
  content: "\e03b";
}
.multisite-icon-light-bulb:before {
  content: "\e03c";
}
.multisite-icon-link:before {
  content: "\e03d";
}
.multisite-icon-earth:before {
  content: "\e03e";
}
.multisite-icon-mail:before {
  content: "\e03f";
}
.multisite-icon-crop:before {
  content: "\e601";
}
.multisite-icon-new-tab:before {
  content: "\e602";
}
.multisite-icon-uniF001:before {
  content: "\f000";
}
.multisite-icon-flag:before {
  content: "\e000";
}
.multisite-icon-embed-image:before {
  content: "\e600";
}
.multisite-icon-music:before {
  content: "\e605";
}
.multisite-icon-lock:before {
  content: "\e606";
}
.multisite-icon-twitter:before {
  content: "\e604";
}
.multisite-icon-volume:before {
  content: "\e603";
}
.multisite-icon-history:before {
  content: "\e607";
}
.multisite-icon-steam:before {
  content: "\e608";
}
.multisite-icon-bubble2:before {
  content: "\e96e";
}
.multisite-icon-home2:before {
  content: "\e901";
}
.multisite-icon-film:before {
  content: "\e913";
}
.multisite-icon-files-empty:before {
  content: "\e925";
}
.multisite-icon-barcode:before {
  content: "\e937";
}
.multisite-icon-compass:before {
  content: "\e949";
}
.multisite-icon-tv:before {
  content: "\e95b";
}
.multisite-icon-bubbles2:before {
  content: "\e96d";
}
.multisite-icon-spinner6:before {
  content: "\e97f";
}
.multisite-icon-eye:before {
  content: "\e9ce";
}
.multisite-icon-plus-square-o:before {
  content: "\f196";
}

