#feature-set-admin-form table td {
  cursor: pointer;
}
#feature-set-admin-form thead {
  display: none;
}

#feature-set-admin-form .list-group {
  margin: 0;
  padding: 0;
}

#feature-set-admin-form .list-group > li {
  list-style: none;
}
#feature-set-admin-form .list-group > li > a.active {
  background-color: #fff;
  color: #0065a2;
  border-color: #ddd;
}

#feature-set-admin-form .feature-set-image {
  float: left;
  font-size: 45px;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #ddd;
  width: 55px;
  text-align: center;
}

#feature-set-admin-form #edit-submit {
  float: right;
}

#feature-set-admin-form .feature-set .name {
  display: block;
  font-weight: bold;
}

#feature-set-admin-form td.switcher {
  width: 120px;
  text-align: center;
}

/* -----
  On/Off switchers 
----- */
#feature-set-admin-form .switch { display: block; width: auto; margin: 0 auto; height: auto; padding: 0; }
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { display: block; float: left; }
.cb-enable { border: #ddd 1px solid; border-radius: 4px 0 0 4px; }
.cb-disable { border: #ddd 1px solid; border-radius: 0 4px 4px 0; }
.cb-enable span, .cb-disable span { height: 45px; line-height: 45px; display: block; background-repeat: no-repeat; width: 50px; }

.cb-disable.selected { background-color: #d9534f; border-color: #832a2a; border-radius: 0 4px 4px 0; }
.cb-enable.selected { background-color: #5cb85c; border-color: #699319; border-radius: 4px 0 0 4px; }

.pending .cb-disable.selected { background-color: #f0ad4e; border-color: #c88916; border-radius: 0 4px 4px 0; }
.pending .cb-enable.selected { background-color: #f0ad4e; border-color: #c88916; border-radius: 4px 0 0 4px; }

.form-disabled, .form-disabled .cb-enable, .form-disabled .cb-disable { cursor: not-allowed; }
.form-disabled .cb-disable.selected { background-color: #999; border-color: #767676; border-radius: 0 4px 4px 0; }
.form-disabled .cb-enable.selected { background-color: #999; border-color: #767676; border-radius: 4px 0 0 4px; }

.switch label { cursor: pointer; width: auto; margin: 0 !important; }
.odd .switch .glyphicon { color: #f9f9f9; }
.even .switch .glyphicon { color: #fff; }
.switch label.selected .glyphicon { color: #fff; font-size: 20px; }