.skip-link,
#skip-link {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  z-index: $zindex-popover;

  a {
    color: #fff;
    background: $blue;
    padding: 8px;
    border: 4px solid $yellow-light;
  }
}