#tb_browser a {
	color:#fff;
}

#tb_browser ul {
  margin: 0;
  padding: 0 0 0 14px;
  list-style: none;
  list-style-image: none;
}

#tb_browser .taxonomy-tree-opener {
	cursor: pointer;
}

#tb_view div {
  padding: 0;
}

#tb_header {
  padding-top: 0;
}