#tb_wrapper div {
  padding: 5px;
}

#tb_browser {
  /*border-right: 1px dotted black;*/
  width: 20%;
  float: left;
  margin: 0 0 5px 0;
  padding: 0;
}

#tb_browser ul {
  margin: 0;
  padding: 0;
}

#tb_view {
  border: 1px none black;
  width: 75%;
  float: right;
}

#tb_view div {
  padding: 0;
}

#tb_breadcrumb {
  border-bottom: 1px dotted black;
  clear: both;
  margin: 0 0 5px 0;
}

#tb_browser .jstree-clicked {
  background: #EEEEEE;
  /*border: 1px solid #027AC6;*/
  padding: 0 2px 0 1px;
  font-weight: bold;
}
