.view-tmgmt-dgt-connector-bundle th.views-field-cart-bundle-info {
  width: 20%;
}
.view-tmgmt-dgt-connector-bundle th.views-field-entity-title {
  width: 40%;
}
.view-tmgmt-dgt-connector-bundle th.views-field-entity-type {
  width: 10%;
}
.view-tmgmt-dgt-connector-bundle th.views-field-changed {
  width: 15%;
}
.view-tmgmt-dgt-connector-bundle th.views-field-cart-bundle-items-form-link {
  width: 15%;
}
