/*
Footer

Site-wide footer component

Markup: html/footer.html

Styleguide footer
*/

$footer-white-font: #fff;

.footer {
  background: $blue-dark;
  padding: 60px 0;
  color: $footer-white-font;
  font-size: $font-size-small;

  a {
    color: $footer-white-font;
  }

  label {
    color: $footer-white-font;
    font-size: 13px;
    font-weight: normal;
    float: left;
    padding: 15px 10px 0 0;
  }

  p {
    padding-top: 10px;
  }
}

.footer-menu {
  padding-left: 0;

  li {
    &:first-child > a {
      padding-left: 0;
    }

    a {
      padding-top: 10px;

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }

  &__bottom-border {
    border-bottom: 1px solid #4d7cb4;
    padding-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 20px 0;

    label {
      float: none;
      text-align: center;
      width: 100%;
    }

    p {
      text-align: center;
    }
  }

  .footer-menu {
    text-align: center;
  }
}

