// Page header
.page-header {
  background: $blue;
  margin: 0;
  padding: 30px 0;

  h1 {
    margin: 0;
  }

  &__top,
  &__main,
  &__bottom {
    color: #fff;
    display: block;
    width: 100%;
  }

  &__top {
    text-transform: uppercase;
  }
  &__main {
    line-height: $line-height-base;
  }
  &__bottom {
    font-size: 26px;
  }
}
