// Bootstrap overrides and new variables

// Colors
$grey-base:              #000;
$grey-darker:            #404040;
$grey-dark:              #575757;
$grey:                   #b3b4b5;
$grey-light:             #e2e2e2;
$grey-lighter:           #ececec;
$grey-lightest:          #f2f2f2;

$blue-light:             #b0c5de;
$blue:                   #006fb4;
$blue-dark:              #004494;
$blue-darker:            darken($blue-dark, 10%);

$yellow-light:           #ffd617;
$yellow:                 #ffc412;
$yellow-dark:            #f2a615;

$green:                  #467a39;

$red:                    #ff2423;

$brand-primary:          $blue;
$brand-success:          $green;
$brand-info:             $grey-dark;
$brand-warning:          $yellow-dark;
$brand-danger:           $red;

$text-color:             $grey-darker;

// Typegraphy
$font-family-sans-serif:  Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          15px; // this is mobile first default, desktop default is 18px
$font-size-big:           1.333em; // 24px
$font-size-little:        0.889em; // 16px
$font-size-xsmall:        0.933em; // 14px

$font-size-h1:            2.222em;
$font-size-h2:            1.667em;
$font-size-h3:            1.556em;
$font-size-h4:            1.222em;
$font-size-h5:            1em;
$font-size-h6:            0.778em;

$font-weight-normal:      400;
$font-weight-bold:        600;

// Form control
$form-control-height:                             2.750em; //44px basing on form control base font size.

// Form colors.
$form-control-color-disabled:                     $grey;

$form-control-text-color:                         $grey-dark;
$form-control-text-color-focus:                   $grey-base;
$form-control-border-color:                       $grey;
$form-control-border-color-focus:                 $yellow-light;
$form-control-background-color:                   #ffffff;
$form-control-background-color-disabled:          $grey-light;
$state-danger-text:                               $brand-danger;


// Select.
$form-control-border-select-color-hover:          $blue;
$form-control-border-select-color-down:           $grey-dark;


// Checkbox and radio
// Unchecked.
$form-checkbox-color-unchecked:                   $grey-dark;
$form-checkbox-background-color-unchecked:        $grey-lighter;

// Unchecked, hover.
$form-checkbox-color-unchecked-hover:             $grey-dark;
$form-checkbox-border-color-unchecked-hover:      $blue;
$form-checkbox-background-color-unchecked-hover:  #ffffff;

// Checked.
$form-checkbox-color-checked:                     #ffffff;
$form-checkbox-background-color-checked:          $blue;

// Checked, hover.
$form-checkbox-color-checked-hover:               #ffffff;
$form-checkbox-border-color-checked-hover:        $yellow-light;
$form-checkbox-background-color-checked-hover:    $blue;

// Icon size.
$form-checkbox-icon-size:                         1.250em;


// Help block.
$form-group-help-block-text-color:                $grey-dark;
$form-group-help-block-text-color-disabled:       $form-control-color-disabled;
$form-group-help-block-text-color-has-error:      $form-group-help-block-text-color;


// Form field feedback.
$form-group-feedback-text-color:                  $grey-dark;
$form-group-feedback-text-color-disabled:         $form-control-color-disabled;
$form-group-feedback-text-color-has-error:        $form-group-help-block-text-color;
$form-group-feedback-background-color:            #e2e2e2;
$form-group-feedback-icon-size:                   1.5em;

// In order to override the 'default!', bootstrap variables have to be added
// after the overrides
@import "../bootstrap-sass/bootstrap/variables";
