/*
Blockquote

Markup: html/blockquote.html

Styleguide text.blockquote
*/

blockquote {
  font-family: $font-family-serif;
  font-style: italic;
  font-size: $font-size-big;
  color: $grey-dark;
  margin-left: 0;
  margin-right: 0;
  padding: 0.6em 1.5em;
  clear: both;
  border: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  @extend .paragraph;

  p {
    line-height: inherit;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url('../images/svg/quote.svg') no-repeat;
      background-size: 60px;
      width: 30px;
      height: 23px;
    }

    &:before {
      top: 4px;
      left: 0;
    }

    &:after {
      background-position: -31px 0;
      bottom: 0;
      right: 0;
    }
  }
}

// State
.no-svg {
  blockquote {
    p {
      &:before,
      &:after {
        background-image: url('../images/png/quote.png');
      }
    }
  }
}
