<footer class="footer">
    <div class="container-fluid">
        <section>
            <label>View the European Commission on :</label>
            <ul class="menu nav footer-menu list-inline footer-menu__bottom-border">
                <li><a href="https://www.facebook.com/EuropeanCommission" class="facebook-icon" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/eu_commission" class="twitter-icon">Twitter</a></li>
                <li><a href="/other-social-media">Other social media</a></li>
            </ul>
            <ul class="menu nav footer-menu list-inline">
                <li><a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">Help</a></li>
                <li><a href="http://ec.europa.eu/cookies/index_en.htm">Cookies and privacy notice</a></li>
                <li><a href="http://ec.europa.eu/contact/index_en.htm">Legal statement</a></li>
            </ul>
            <p>© European Commission copyright. All content available under XX <a href="#">license</a>.</p>
        </section>
    </div>
</footer>
