/* start of ec-resp fix */
.nav-pills > li + li {
    margin-left: 0px;
}
.mainPicture form{
    display:none;
}
section .mainContent fieldset{
    float:left;
    width:100%;
    overflow:auto;
    border:solid 1px #cbe7fc;
    border-radius:5px;
    background-color:#e3f5ff;
    margin-top:5px;
}

section .mainContent form legend{
    padding-top:2px;
    padding-bottom:5px;
    border-bottom:0;
    margin-bottom:-30px;
}
#subscribe tr.odd .form-item,
#subscribe tr.even .form-item {
    white-space: normal;
}
#tabbedContent #block-system-main .view-content .views-row{
    padding-top:0;
}
.taxonomy-term-description{
    margin-top:0;
}
#block-system-main .view-content .views-row{
    border:0;
    margin:0;
}

.hideWhenSmall .hidden-xs{
	display:inherit !important;
}

/* pager */
	.pagerContainer{
		margin:0px -12px;
		padding:20px 12px;
		border-top:3px solid #eee;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 5%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(5%,rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 5%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 5%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 5%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 5%);
		box-sizing: content-box;
		float: left;
		width: 100%;
	}
	.item-list .pager{
		padding:0;
		margin:0;
	}
	.item-list .pager li{
		margin:0 0.1em 10px 0.1em;
		padding:0;
		line-height:18px;
	}
	.item-list .pager li a{
		padding:1px 8px 2px 8px;
		text-decoration:none;
		border-color: #eee;
		display:inline-block;
	}
	.item-list .pager li.pager-first a{
		padding:1px 8px 2px 26px;
		color:#074a8a;
		background:#fff url(../images/theme/sprite-pager.png) no-repeat 0 -196px;
	}
	.item-list .pager li.pager-previous a{
		padding:1px 8px 2px 26px;
		background:#fff url(../images/theme/sprite-pager.png) no-repeat 0 -245px;
	}
	.item-list .pager li.pager-next a{
		padding:1px 26px 2px 8px;
		background:#fff url(../images/theme/sprite-pager.png) no-repeat 100% -294px;
	}
	.item-list .pager li.pager-last a{
		padding:1px 26px 2px 8px;
		color:#074a8a;
		background:#fff url(../images/theme/sprite-pager.png) no-repeat 100% -343px;
	}


	.item-list .pager li.pager-item a{
		border-color: #bbb;
	}
	.item-list .pager li.pager-current{
		padding:1px 7px 2px 7px;
		background:#555;
		color:#fff;
		border: 1px solid #555;
		border-radius: 15px;
		font-size:110%;
		line-height:18px;
	}
	.item-list .pager li.pager-ellipsis{display:none;}
	.item-list .pager li.pager-first{}
	.item-list .pager li.pager-previous{}
	.item-list .pager li.pager-next{}
	.item-list .pager li.pager-last{}

	.item-list .pager .js_pager-item-dist1,
	.item-list .pager .js_pager-item-dist2,
	.item-list .pager .js_pager-item-dist3,
	.item-list .pager .js_pager-item-dist4,
	.item-list .pager .js_pager-item-dist5,
	.item-list .pager .js_pager-item-dist6,
	.item-list .pager .js_pager-item-dist7,
	.item-list .pager .js_pager-item-dist8{

	}

	.item-list .pager.js_pagerCurrentPos5 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos5 .js_pager-item-dist4,
	.item-list .pager.js_pagerCurrentPos5 .js_pager-item-dist5,
	.item-list .pager.js_pagerCurrentPos5 .js_pager-item-dist6,
	.item-list .pager.js_pagerCurrentPos4 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos4 .js_pager-item-dist4,
	.item-list .pager.js_pagerCurrentPos4 .js_pager-item-dist5,
	.item-list .pager.js_pagerCurrentPos4 .js_pager-item-dist6,
	.item-list .pager.js_pagerCurrentPos3 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos3 .js_pager-item-dist4,
	.item-list .pager.js_pagerCurrentPos3 .js_pager-item-dist5,
	.item-list .pager.js_pagerCurrentPos3 .js_pager-item-dist6,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist4,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist5,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist6,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist7,
	.item-list .pager .js_pager-item-dist7,
	.item-list .pager .js_pager-item-dist8{
		display:none;
	}



@media(max-width:1060px){

	.item-list .pager{
		position:relative;
		border-top: solid 1px #eee;
		border-bottom: solid 1px #eee;
		margin:30px 0;
		padding:5px 0;
	}
	.item-list .pager.js_pagerCurrentPos1{
		margin:0 0 30px 0;
		border-top:0;
	}

	.item-list .pager .pager-first{
		position:absolute;
		left:0px;
		top:-30px;
	}
	.item-list .pager .pager-previous{
		position:absolute;
		left:70px;
		top:-30px;
	}
	.item-list .pager .pager-next{
		position:absolute;
		right:70px;
		bottom:-40px;
	}
	.item-list .pager .pager-last{
		position:absolute;
		right:0px;
		bottom:-40px;
	}

	.item-list .pager.js_pagerCurrentPos5 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos4 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos3 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos3 .js_pager-item-dist4,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist3,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist4,
	.item-list .pager.js_pagerCurrentPos2 .js_pager-item-dist5{
		display:inline;
	}
}



/* /pager */




.panel .panel-body .list-group {
    margin: 0px;
}
.panel .panel-body .list-group a{
    display:inline;
    padding:0;
}

.field-name-field-shared-main-image .field-label{
    display:none;
}

.panel .panel-body li,
.panel .panel-body label{
    color:#555;
}


#sidebarRight .block-multisite-twitterblock .panel-body{
    padding:0 10px;
}
#sidebarRight .block-multisite-twitterblock .tweet_more{
	margin-bottom:10px;
}

#quicktabs-blogs_twitter ul.quicktabs-tabs.quicktabs-style-nostyle{
	padding:0px !important;
}

div.more-link > a, div.more-link > a:visited, div.more-link > a:hover{
	color:#074a8a !important;
}

#block-system-main .view-header h2 {
    background-color: transparent;
    border-radius: 0;
    margin:0 0 10px;
    padding: 0 0 10px;
}
.field-label{
	text-transform:none;
}

.field-image-caption, .field-name-field-caption {
	float:none;
	font-family:Verdana;
	font-size:100%;
	font-style:normal;
	margin-bottom:0;
	width:auto;
}

.node .field-name-body{
	border-bottom: 1px solid #dcdcdc;
    margin-bottom: 7px;
}
.node .field-name-body:last-child{
	border-bottom: 0px;
    margin-bottom: 0px;
}

/* end of ec-resp fix */


*+html .region,
*+html .comment-wrapper .comment .comment-text,
*+html .clearfix{
    min-height: 1%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.region:after,
.comment-wrapper .comment .comment-text:after,
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

body{
    color: #333333;
    font-family: Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
	border: 0 none;
	min-width: 320px;

    background: #f7f4e7;
    background: -moz-linear-gradient(top,  #f7f4e7 0%, #f6bd6e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f4e7), color-stop(100%,#f6bd6e));
    background: -webkit-linear-gradient(top,  #f7f4e7 0%,#f6bd6e 100%);
    background: -o-linear-gradient(top,  #f7f4e7 0%,#f6bd6e 100%);
    background: -ms-linear-gradient(top,  #f7f4e7 0%,#f6bd6e 100%);
    background: linear-gradient(to bottom,  #f7f4e7 0%,#f6bd6e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f4e7',endColorstr='#f6bd6e',GradientType=0)
}

legend{
    font-size:inherit;
}

table{
    clear:both;
}
td,th{
    vertical-align:top;
    border:solid 1px #eee;
    padding:5px 2%;
}
th{
	background:#f4f6f9;
	border:solid 1px #ddd;
}
td h2,td h3,td h4,td h5,
th h2,th h3,th h4,th h5{
    margin-top:5px;
}

li>p{
    padding-top:0;
    margin-top:0;
}

/* layout */
.layout{
    background:url(../images/theme/bg_dashes.png);
    min-height:900px;
}
#sidebarLeft{
    float:left;
    width:23%;
    margin-right:2%;
}
#sidebarRight{
    float:right;
    width:23%;
}
#pageCenter{
    float:left;
    width:75%;
    margin-bottom:20px;
}

.front #pageCenter{width:100%;}

#banner a,
#messages a,
.mainContentSection a{
    text-decoration:underline;
}

.panel{
    padding:0;
    margin:0;
    background:transparent;
    box-shadow:0 0 0;
    border:0;
	border-radius:0;
}
.panel .panel-heading{
    color:#252525;
    padding:10px 0;
    margin:0 12px 5px;
    font-size:16px;
    background:transparent;
    border-top:0;
    border-bottom:solid 2px #e2e5ea;
}
.panel .panel-body{
    padding:5px 0 10px;
    margin:0 12px;
    color:#555555;
}

#sidebarRight .panel{
    padding:0;
    margin:0;
}
#sidebarRight .panel-head{
    padding:0;
    margin:0;
}
#sidebarRight .panel-heading{
    margin-right:10px;
    margin-left:10px;
}
#sidebarRight .panel-body{
    padding:0;
    margin:0;
}

.panel .panel-body>p{
    margin-bottom:0;
}

footer{
    min-height:60px;
    padding:10px 0 10px;
    background:#fff;
    border-top:solid 2px #999;
    color:#555;
}
footer .region-footer{
    width:50%;
    margin-left:25%;
}
footer .region-footer{
    width:50%;
    margin-left:25%;
}
.layout-noleft footer .region-footer{
    width:75%;
    margin-left:0%;
}
.layout-noright footer .region-footer{
    width:75%;
    margin-left:25%;
}
.layout-noleft.layout-noright footer .region-footer{
    width:100%;
    margin-left:0%;
}
footer .region-footer .panel{
    border-radius:0;
}
footer a{
    text-decoration:underline;
}

footer .footer{
	padding-bottom:10px;
}
footer .footer_copyright{
	text-align:right;
	border-top:solid 1px #eee;
}

#path{
	padding:1px 0 1px;
}

/* /layout */



.container{
    max-width:1200px;
}

.showWhenSmall{display:none;}


h1{margin:0;}


img{
    border:0;
}

header{
    display:block;
    width:100%;
    position:relative;
    line-height: 14px;
}
header .region-header-top{
    padding-right:140px;
}
header .region-header-top .region-header-top{
    padding-right:0px;
}
header ul{
    margin:0;
    padding:0;
}

header .utility-nav,
header .administrative-nav{
    float:right;
    margin:3px 0 0px 0px;
    font-size:11px;
}
header .utility-nav a,
header .administrative-nav a{
    border-left: 1px solid #939393;
    color: #777777;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    margin: 0;
    padding: 0 12px;
    text-decoration: none;
}
header .utility-nav a:hover,
header .administrative-nav a:hover,
header .utility-nav a:focus,
header .administrative-nav a:focus,
header .utility-nav a:active,
header .administrative-nav a:active{
    text-decoration:underline;
}
header .utility-nav li:first-child a{
    border-left: 0;
}
header .administrative-nav li:first-child a{
    border-left: 2px solid #777;
}
header .utility-nav li,
header .administrative-nav li{
    list-style:none;
    float:left;
}
#block-system-user-menu li a{
    font-size:11px;
}
#block-system-user-menu{
    float:left;
}
header .utility-nav .username{
    display:inline-block;
    float: left;
}
header #block-system-user-menu li{
    padding:0;
}

/*main menu*/
#main-navigation{
    border-bottom:solid 1px #9fb7c3;
    border-top:solid 1px #002e4a;
    margin-bottom:0px;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #d3e5f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d3e5f0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d3e5f0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#d3e5f0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#d3e5f0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#d3e5f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3e5f0',GradientType=0 );
}
#main-navigation .panel{
    border-radius:0;
}
#main-navigation .panel-heading{
    display:none;
}
#main-navigation .panel,
#main-navigation .panel .panel-body{
    padding:0;
    margin:0;
    background:transparent;
    border:0;
}


#main-navigation .chunck-1,
#main-navigation .chunck-2{
    display:block;
}

#main-navigation .list-group-item:last-child,
#main-navigation .list-group-item:first-child{
    border-radius:0px;
}

#main-navigation ul{
    padding:0;
    margin:0;
}
#main-navigation ul li{
    float:left;
    list-style:none;
    padding:0;
    border-right:solid 1px #9fb7c3;
    border-bottom:solid 1px #9fb7c3;
    margin-bottom:-1px;
    margin-left:0;
}
#main-navigation ul li a{
    background:transparent;
    border:0;
    border-radius:0;
    margin-bottom:0;

    float:left;
    padding:10px 20px 0;
    height:39px;
    line-height:14px;
    border-right:solid 1px #fff;
}
#main-navigation ul li a .glyphicon-home{
    display:block;
    text-align:center;
    width:auto;
}
#main-navigation ul li a:hover,
#main-navigation ul li a:focus,
#main-navigation ul li a:active{
    text-decoration:underline;
}
#main-navigation ul li ul{
    display:none;
}

#main-navigation ul li.active-trail,
#main-navigation ul li.active{
    background: #074a8a;
    background: -moz-linear-gradient(top,  #074a8a 0%, #073977 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#074a8a), color-stop(100%,#073977));
    background: -webkit-linear-gradient(top,  #074a8a 0%,#073977 100%);
    background: -o-linear-gradient(top,  #074a8a 0%,#073977 100%);
    background: -ms-linear-gradient(top,  #074a8a 0%,#073977 100%);
    background: linear-gradient(to bottom,  #074a8a 0%,#073977 100%);
}
#main-navigation ul li.active-trail>a,
#main-navigation ul li.active>a{
    color:#fff;
    background: transparent;
}
#main-navigation ul li a{
    color:#074a8a;
}

#main-navigation .menu_search_form{
    display:none;
}

/*/main menu*/




/* content */
.identityContainer{
	border-top:solid 5px #faa635;
	margin-top:0;
	padding-top:15px;
}
#layout-body{
	min-height:80vh;
}
.front .identityContainer{
	padding-top:0;
}
.front .identityContainer #layout-body{
	margin-top:0;
}
.front .mainContentSection{
	position:relative;
	background:#faa635;
	box-shadow:none;
	border-radius:0 0 10px 10px;
}
.front .mainContentSection>.contentContainer:after,
.front .mainContentSection:before{
	content:" ";
	background:url(../images/theme/yellow_corners.png) no-repeat;
	width:5px;
	height:5px;
	position:absolute;
	top:0px;
}
.front .mainContentSection>.contentContainer:after{right:-5px;background-position:-5px -5px;}
.front .mainContentSection:before{left:-5px;background-position:0 -5px;}

.mainContentSection{
    padding-top:15px;
    margin-bottom:30px;
	min-height:50vh;
	
	background:#ffffff;
	border-radius:10px;
	box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}
.mainContentSection h1#page-title{
    color:#00444c;
    font-size:24px;
    margin:0 15px 15px;
    padding:0 1% 0.5em;
	border-bottom:solid 1px #faa83a;
}
.mainContentSection .contentContainer{
	max-width:700px;
	padding:0 1%;
    margin:0 15px 15px;	
}
section h2{
    color:#00444c;
    font-size:18px;
    border-bottom:solid 1px #ffcd8a;
    padding-bottom:10px;
    margin-top:40px;
}
section h2:first-child{
    margin-top:0px;
}
section h3{
    color:#26575d;
    font-size:16px;
    padding-bottom:7px;
    border-bottom:solid 1px #e8e8e8;
    margin-top:32px;
}
section h4{
    color:#26575d;
    font-size:14px;
    margin-top:25px;
}
section h5{
    color:#00444c;
    font-size:13px;
    margin-top:20px;
}
section h6{
    color:#00444c;
    font-size:12px;
    margin-top:20px;
}

section h2:first-child,
section h3:first-child,
section h4:first-child,
section h5:first-child,
section h6:first-child,
section h2+h3,
section h3+h4,
section h4+h5,
section h5+h6{
    margin-top:0px;
}

.mainContentSection .contentContainer .region-content .panel-body.content .field-name-body img{
	border:solid 1px #eee;
	margin:5px auto 7px;
	max-width:100%;
	height:auto;
	display:block;
}

.decayLinkContent{
	margin-left:5%;
}

	/* filter block */
	
	#sidebarRight .exposed_form_outer_container{
		margin-left:-8.7% !important;
		margin-right:-2% !important;
		padding:10px 2% 10px 0 !important;
		display:block;
		overflow:hidden;
		clear:both;
		position:relative;
	}
	
	#sidebarRight .exposed_form_inner_container{
		background:#f7f4e8;
		border:solid 5px #fff;
		border-left:0;
		border-radius:0 5px 5px 0;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
		padding:5px 5% 5px;
		font-size:85%;
		line-height:1.4em;
	}
	
	#sidebarRight .exposed_form_inner_container .panel-heading{
		color:#00444c;
		font-size:150%;
		padding-bottom:10px;
		border-bottom:solid 1px #ffcd8a;
		margin:0 !important;
	}

	
	#sidebarRight .views-exposed-form .views-exposed-widget{
		padding-right:0;
	}

	.btn-default {
		border-color: #faa83a;
		color: #333;
		background: rgb(235,235,235);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
		text-shadow:0px 1px 0px rgba(255,255,255,1);
		
		padding: 4px 12px 6px;
		font-size:110% !important;
	}
	.btn.btn-primary{
		background: rgb(235,235,235);
		background: -moz-linear-gradient(top, rgba(0,68,76,1) 0%, rgba(7,33,36,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,68,76,1)), color-stop(100%,rgba(7,33,36,1)));
		background: -webkit-linear-gradient(top, rgba(0,68,76,1) 0%,rgba(7,33,36,1) 100%);
		background: -o-linear-gradient(top, rgba(0,68,76,1) 0%,rgba(7,33,36,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,68,76,1) 0%,rgba(7,33,36,1) 100%);
		background: linear-gradient(to bottom, rgba(0,68,76,1) 0%,rgba(7,33,36,1) 100%);
		text-shadow:0px 1px 0px rgba(0,68,76,1);
	}
	.btn:hover,
	.btn:focus,
	.btn:active,
	.btn.btn-primary:hover,
	.btn.btn-primary:focus,
	.btn.btn-primary:active{
		border-color:#00444c;
	}
	.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active{
		border-color: #dcdcdc;
	}
	
	.btn+.btn{
		margin-left:15px;
	}
	
	.form-control{
		padding: 4px 12px 6px;
		font-size:inherit !important;
	}
	
	.views-exposed-form{
		margin-bottom:2em;
	}
	.views-exposed-form label{
		font-weight:normal;
		font-size:115%;
		margin-top:10px;
		color:#333;
	}
	.views-exposed-form .views-exposed-widget{
		float:none;
		display:inline-block;
		vertical-align:bottom;
	}
	
	#sidebarRight .views-exposed-form label{
		font-size:125%;
	}
	#sidebarRight .views-exposed-form .description{
		padding-left:5%;
	}
	#sidebarRight .views-exposed-form .views-exposed-widget{
		float:none;
	}
	
	#sidebarRight .views-exposed-form .dependent-options{
		display:inline-block;
	}
	#sidebarRight .views-exposed-form .views-operator+.views-widget{
		margin-left:10%;
	}
	#sidebarRight .views-exposed-form .dependent-options .date-padding{
		margin-top:3px;
	}
	#sidebarRight .views-exposed-form .dependent-options label{
		font-size:100%;
	}
	#sidebarRight .views-exposed-form .dependent-options label+.date-padding{
		margin-top:0px;
	}
	
	/* /filter block */

	
	/* item-list */
	.item-list{
		margin:40px -1% 0;
		padding:15px 1% 20px;
		border-top:solid 3px #c1c1c1;
	}
	.item-list>ul{
		margin:0;
		padding:0;
	}
	.item-list>ul>li{
		margin:0 0 10px;
		padding:0 0 10px;
		list-style:none;
		border-bottom:solid 1px #eee !important;
	}
	.item-list>ul>li+li{
		margin-top:15px;
	}
	.item-list>ul>li .views-field-field-leading-picture-d4eu{
		width:20%;
		float:right;
		margin-left:3%;
		border-left:solid 10px #fff;
		border-bottom:solid 5px #fff;
	}
	.item-list>ul>li .views-field-field-leading-picture-d4eu .field-content{
		max-height:200px;
		overflow:hidden;
		border:solid 1px #eee;
		background:#fff;
	}
	.item-list>ul>li .views-field-field-leading-picture-d4eu .field-content img{
		width:100%;
		height:auto;
	}
	.item-list>ul>li .views-field-title{
		font-size:115%;
		padding-top:5px;
	}
	.item-list>ul>li .views-field-title a{
		text-decoration:none;
	}
	.item-list>ul>li .views-field-title a:hover{
		text-decoration:underline;
	}
	.item-list>ul>li .views-field-title+div{
		padding-top:10px;
		margin-top:10px;
		margin-left:3%;
		border-top:solid 1px #ffcd8a;
	}
	.item-list>ul>li .views-field-body{
		margin-left:3%;
	}
	.item-list>ul>li .views-field-body .field-content{
		padding-bottom:10px;
		margin-bottom:10px;
		border-bottom:solid 1px #eee;
		line-height:1.4em;
	}
	.item-list>ul>li .views-field-body:last-child{
		margin-bottom:0px;
		border-bottom:0;
	}
	.item-list>ul>li .moreLink{
		display:inline-block;
		font-size:85%;
		margin-left:10px;
	}
	.item-list>ul>li .views-field-active,
	.item-list>ul>li .views-field-field-authors-d4eu,
	.item-list>ul>li .views-field-field-year-of-publication-d4eu,
	.item-list>ul>li .views-field-name,
	.item-list>ul>li .views-field-changed{
		font-size:11px;
		margin-left:3%;
		margin-top:5px;
		line-height:1.2em;
	}

	.item-list>ul>li .views-field-active .views-label,
	.item-list>ul>li .views-field-field-authors-d4eu .views-label,
	.item-list>ul>li .views-field-field-year-of-publication-d4eu .views-label,
	.item-list>ul>li .views-field-name .views-label,
	.item-list>ul>li .views-field-changed .views-label{
		color:#777;
		display:inline-block;
		width:20%;
		min-width:120px;
		vertical-align:top;
	}
	.item-list>ul>li .views-field-active .field-content,
	.item-list>ul>li .views-field-field-authors-d4eu .field-content,
	.item-list>ul>li .views-field-field-year-of-publication-d4eu .field-content,
	.item-list>ul>li .views-field-name .field-content,
	.item-list>ul>li .views-field-changed .field-content{
		color:#555;
		margin-left:5%;
		display:inline-block;
		max-width:70%;
		min-width:250px;
		vertical-align:top;
	}

	.item-list>ul>li .views-field-field-tags{
		background:#eee;
		margin:10px 0 -5px 3%;
		font-size:11px;
		padding:4px 10px 7px;
	}
	.item-list>ul>li .views-field-body+.views-field-field-tags{
		margin-top:-10px;
	}
	.item-list>ul>li .views-field-field-tags .views-label{
		color:#555;
		display:inline-block;
		vertical-align:top;
	}
	.item-list>ul>li .views-field-field-tags .field-content{
		margin-left:5%;
		display:inline-block;
		max-width:70%;
		vertical-align:top;
	}	

	.view-videos-d4eu .item-list>ul>li>div{
		padding-left:35%;
		margin-left:0;
	}
	.view-videos-d4eu .item-list>ul>li .views-field-field-leading-picture-d4eu{
		width:32%;
		float:left;
		border:0;
		margin-left:0;
		margin-bottom:5px;
		padding:0;
		background:#fff;
	}
	.view-videos-d4eu .item-list>ul>li .views-field-field-leading-picture-d4eu .field-content{
		max-height:150px;
		min-height:80px;
	}
	
	/* /item-list */
	
	
	/* identity block right */
		/*content demo :
			<a href="#" class="D4EU_CTAButton" rel="nofollow"><span>Join here</span><span>to take part</span></a>
		*/
	
		.identityBlock{
			margin:-25px 0 15px;
			background:#00444c url(../images/theme/baseline_theme.png) 50% 0 no-repeat;
			padding:35px 10px 10px;
			border-radius:0 0 5px 5px;
			text-align:center;
			position:relative;
		}
		.identityBlock:before,
		.identityBlock:after{
			content:" ";
			background:url(../images/theme/yellow_corners.png) no-repeat;
			width:5px;
			height:5px;
			position:absolute;
			top:0px;
		}
		.identityBlock:after{right:-5px;background-position:-5px -5px;}
		.identityBlock:before{left:-5px;background-position:0 -5px;}
		
		.identityBlock .D4EU_CTAButton{
			background: #fbe1bf;
			border: 3px solid #faa635;
			border-radius: 15px;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
			color: #00444c;
			display: block;
			font-size: 100%;
			margin: 15px 5% 5px;
			overflow: hidden;
		}
		.identityBlock .D4EU_CTAButton span:nth-child(1){
			background: #fff;
			font-size: 160%;
			padding: 10px 5px 5px;
			display:block;
		}
		.identityBlock .D4EU_CTAButton span:nth-child(2){
			padding: 0px 5px 5px;
			display:block;
		}
		
	/* /identity block right */
	
	
	/* social links */
		.socialLinks{
			border:solid 1px #dcdcdc;
			border-radius:5px;
			background:rgba(255,255,255,0.6);
			margin-bottom:15px;
			padding:5px 12px 7px;
			float:left;
			width:100%;
		}
		.socialLinks h3{
			font-size:18px;
			color:#00444c;
			margin:0;
			padding:0 0 5px;
		}
		.socialLinks ul{
			margin:0px;
			padding:0px;
		}
		.socialLinks ul li{
			margin:0;
			padding:0;
			list-style:none;
			width:20%;
			min-width:43px;
			float:left;
			text-align:center;
		}

		.socialLinks ul li a{
			display:inline-block !important;
			width:35px;
			height:35px;
			margin:0 auto 5px;
			background:url(../images/theme/social_icons.png) no-repeat;
			text-decoration:none;

			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
			overflow:hidden;
		}
		.socialLinks ul li a>span{
			text-indent:-5000px;
			display:block;
		}

		.socialLinks ul:hover li a,
		.socialLinks ul:focus li a,
		.socialLinks ul:active li a{
			opacity:0.7;
		}
		.socialLinks ul:hover li a:hover,
		.socialLinks ul:focus li a:focus,
		.socialLinks ul:active li a:active{
			opacity:1;
		}
		.socialLinks #fb{background-position:2px 0;}
		.socialLinks #pi{background-position:-45px 0;}
		.socialLinks #li{background-position:-93px 0;}
		.socialLinks #yt{background-position:-141px 0;}
		.socialLinks #tw{background-position:-191px 0;}
		
		.socialLinks .boxes-box-controls ul{
			width:auto;
		}
		.socialLinks .boxes-box-controls ul li{
			width:auto;
			float:none;
		}
		.socialLinks .boxes-box-controls ul li a{
			width:auto;
			height:auto;
			margin:0 auto 5px;
			background:transparent;
			text-decoration:underline;
		}
	/* /social links */
	
	
	/*regular content*/
		.mainContentSection .content .field-name-field-leading-picture-d4eu{
			float:right;
			width:32%;
			margin-left:3%;
			margin-bottom:10px;
			background:#fff;
		}
		.mainContentSection .content .field-name-field-leading-picture-d4eu img{
			width:100%;
		}
		.mainContentSection .content .field-name-field-leading-picture-d4eu>.field-label{
			display:none;
		}
		.mainContentSection .content .field-name-field-leading-picture-d4eu .field-items{
			border:solid 1px #dcdcdc;
			padding:1px;
		}
		
		.mainContentSection .content .field-name-field-leading-picture-d4eu .field-items .field-image-caption{
			padding:5px 1em 7px;
			text-align:center;
			font-size:85%;
		}
		.mainContentSection .content .field-name-field-leading-picture-d4eu .field-items .field-image-caption:empty{
			display:none;
		}

		.mainContentSection .content .field-name-field-tags{
			background:#eee;
			margin:10px 0 -5px 0;
			font-size:11px;
			padding:4px 10px 7px;
		}
		.mainContentSection .content .field-name-field-tags>*:nth-child(1){
			color:#555;
			display:inline-block;
			vertical-align:top;
			width:auto;
		}
		.mainContentSection .content .field-name-field-tags>*:nth-child(2){
			margin-left:5%;
			display:inline-block;
			max-width:70%;
			vertical-align:top;
		}	
		
		.mainContentSection .content .field-name-field-year-of-publication-d4eu,
		.mainContentSection .content .field-name-field-authors-d4eu,
		.mainContentSection .content .field-name-field-link-d4eu,
		.mainContentSection .content .field-name-field-media-tags{
			font-size:11px;
			margin-left:1%;
			margin-top:1em;
			line-height:1.2em;
		}
		.mainContentSection .content .field-name-field-year-of-publication-d4eu>*:nth-child(1),
		.mainContentSection .content .field-name-field-authors-d4eu>*:nth-child(1),
		.mainContentSection .content .field-name-field-link-d4eu>*:nth-child(1),
		.mainContentSection .content .field-name-field-media-tags>*:nth-child(1){
			color:#777;
			display:inline-block;
			width:20%;
			min-width:120px;
			vertical-align:top;
		}
		.mainContentSection .content .field-name-field-year-of-publication-d4eu>*:nth-child(2),
		.mainContentSection .content .field-name-field-authors-d4eu>*:nth-child(2),
		.mainContentSection .content .field-name-field-link-d4eu>*:nth-child(2),
		.mainContentSection .content .field-name-field-media-tags>*:nth-child(2){
			color:#555;
			margin-left:5%;
			display:inline-block;
			max-width:70%;
			min-width:250px;
			vertical-align:top;
		}
	/*/regular content*/
	
	
/* /content */




/* --- RESPONSIVE PART --- */

@media(min-width:500px){
    #main-navigation ul.nav-pills li:hover>ul.dropdown-menu,
    #main-navigation ul.nav-pills li:focus>ul.dropdown-menu,
    #main-navigation ul.nav-pills li:active>ul.dropdown-menu{
        display:block;
        background:#e9f2fa;
        border-radius: 0 0 5px 5px;
        left:-1px;
        border-top:0px;
        padding:5px 0 7px;
        box-shadow:0 2px 2px rgba(0,0,0,0.2);
        top:40px;
    }
	#main-navigation.scrollFollowNav{
		filter:none;
	}
    #main-navigation ul.nav-pills li:focus>ul.dropdown-menu .dropdown-menu,
    #main-navigation ul.nav-pills li:active>ul.dropdown-menu .dropdown-menu,
    #main-navigation ul.nav-pills li:hover>ul.dropdown-menu .dropdown-menu{
        display:none;
    }
    #main-navigation ul.nav-pills>li:hover:not(.first),
    #main-navigation ul.nav-pills>li:focus:not(.first),
    #main-navigation ul.nav-pills>li:active:not(.first){
        background:#e9f2fa;
    }
    #main-navigation ul.nav-pills li.active-trail:hover,
    #main-navigation ul.nav-pills li.active-trail:focus,
    #main-navigation ul.nav-pills li.active-trail:active{
        background:#0065a2;
    }

    #main-navigation ul.nav-pills li:hover>ul>li,
    #main-navigation ul.nav-pills li:hover>ul>li>a,
    #main-navigation ul.nav-pills li:focus>ul>li,
    #main-navigation ul.nav-pills li:focus>ul>li>a,
    #main-navigation ul.nav-pills li:active>ul>li,
    #main-navigation ul.nav-pills li:active>ul>li>a{
        display:block;
        border:0;
        padding:0;
        margin:0;
        height:auto;
        float:none;
    }
    #main-navigation ul.nav-pills li:hover>ul>li>a,
    #main-navigation ul.nav-pills li:focus>ul>li>a,
    #main-navigation ul.nav-pills li:active>ul>li>a{
        padding:7px 20px 8px;
        font-size:12px;
    }
    #main-navigation ul.nav-pills li.last:hover>ul.dropdown-menu,
    #main-navigation ul.nav-pills li.last:focus>ul.dropdown-menu,
    #main-navigation ul.nav-pills li.last:active>ul.dropdown-menu{
        left:auto;
        right:-1px;
    }

    .container {
        width: auto;
    }

}


@media (max-width:767px){
    #main-logo #banner-flag{display:none;}
    #main-logo{width:129px;height:89px;background:url(../images/theme/eulogo_mini.png) no-repeat 0 0;position:absolute;top:0px;left:10px;}
    #layout-header{background:#fff;height:auto;}
    #layout-header .container{padding:0;}
    #layout-header nav.region-header-top{position:relative;display:block;}
    #layout-header #main-title{left:0px;line-height:16px;top:40px;text-transform: uppercase;font-size:18px !important;height:20px;width:100%;padding:0 10px 0 0;position:absolute;margin:0;}
    #layout-header #main-title span{position:absolute;left:148px;bottom:0px;}
    #layout-header #sub-title{background-color:#0065a2;position:static;padding:5px 0 10px 148px;font-size:13px !important;line-height:13px;}
    #layout-header .headerBannerContainer{position:relative;padding-top:64px;}

    header .region-header-top{padding:0px 10px 0px;}
    .language-selector-close, .language-selector-open{
        position:relative;
        float:right;
        clear:right;
        padding:0;
    }
    #layout-header .headerBannerContainer{margin-top:-15px;}


    .container{
        padding-left: 5px;
        padding-right: 5px;
    }

}

@media(min-width:768px) and (max-width:991px){
    #layout-header #banner-flag{left:20px;}
    #layout-header #main-title,
    #layout-header #sub-title{left:210px;}

    .container{
        width:auto;
    }
    #block-menu-block-main-navigation ul li a{
        padding:5px 12px 0;
    }
}

@media(min-width:500px) and (max-width:860px){
    #main-navigation ul li a{
        padding:11px 8px 0;
    }
    #main-navigation>.container{
        padding:0;
    }
}

@media(max-width:860px){
    body{
        font-size:11px;
        line-height: 16px;
    }

    #main-navigation ul.nav-pills li>ul>li>a,
    #main-navigation ul.nav-pills li:hover>ul>li>a,
    .language-selector-close,
    .language-selector-open{
        font-size:11px;
    }

    .language-selector-close,
    .language-selector-open{
        top:1px !important;
    }
}


@media(min-width:500px) and (max-width:595px){
    body{
        overflow-x:auto;
        width:595px;
    }
    .container{
        width:595px;
    }
}



@media(max-width:499px){
    .hideWhenSmall{display:none;}
    .showWhenSmall{display:block;}
    body{
        background: #f7e9ce;
    }
    #main-logo{width:86px;height:59px;background:url(../images/theme/eulogo_micro.png) no-repeat 0 0;position:absolute;top:22px;left:10px;}
    #layout-header #main-title span{left:105px;}
    #layout-header #sub-title{padding-left:105px;}
    .layout{background:transparent;}



    /* main navigation */
    #main-navigation{
        background:#fff;
    }
    #main-navigation .container{
        padding:0;
        margin:0;
    }
    #main-navigation .panel-heading{
        display: block;
        margin:0;
        padding:5px 0 7px 30px;
        border-radius:0px;
        background:url(../images/theme/sprite.png) no-repeat 5px -1294px;
        text-transform:uppercase;
        font-size:11px;
        font-weight:bold;
        cursor:pointer;

        background-color:#E5F0F6;
        color:#074A8A;

        -moz-transition:background-color 0.3s, color 0.3s;
        -webkit-transition:background-color 0.3s, color 0.3s;
        -o-transition:background-color 0.3s, color 0.3s;
        transition:background-color 0.3s, color 0.3s;
    }
    #main-navigation .showMenu .panel-heading{
        background-color:#074a8b;
        color:#fff;
    }
    #main-navigation .panel-body{
        margin:0 -15px;
        display:none;
    }
    #main-navigation .showMenu .panel-body{
        display:block;
    }
    #main-navigation ul{
        margin:0;
    }
    #main-navigation ul li{
        float:none;
        display:block;
        padding:0 0 1px 5px;
        border-top:solid 1px #acc4d1;
    }
    #main-navigation ul li a{
        float:none;
        display:block;
        padding:10px 15px 10px 10px;
        height:auto;
        border-right:0;
        border-top:solid 1px #fff;
        margin:0 0 0 -5px;
    }
    #main-navigation ul li.active{
        background:transparent;
    }
    #main-navigation ul li.active a{
        color:#0065a2;
    }
    #main-navigation ul li a .chunck-1,
    #main-navigation ul li a .chunck-2{
        float:none;
        display:inline;
    }
    #main-navigation ul li ul.dropdown-menu {
        position:static;
        float:none;
        display: none;
        margin:0;
        border-left:solid 2px #9fb7c3;
        margin-bottom:5px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.2);
        font-size:12px;
    }

    #main-navigation ul li.active-trail>ul.dropdown-menu{
        display:block;
    }

    #main-navigation ul li.active-trail{
        background: #d0e0f0;
    }
    #main-navigation ul li.active-trail>a{
        color:#252525;
        background: url("../images/theme/sprite.png") no-repeat 95% 15px;
    }
    #main-navigation ul li.active{
        background: #074A8A;
    }
    #main-navigation ul li.active>a{
        color:#fff;
        background:transparent;
    }


    /* search block */
    #main-navigation .menu_search_form{
        display:block;
        float: left;
        width: 100%;
    }
    #main-navigation .menu_search_form .form-item{
        padding-right: 44px;
        float:left;
    }
    #main-navigation .menu_search_form .input-group{
    }
    #main-navigation .menu_search_form .input-group-btn{
        right:5px;
        top:4px;
    }
    #main-navigation .menu_search_form .input-group-btn input{
        border-radius:0 5px 5px 0;
    }
    #main-navigation .menu_search_form .form-item input{
        border-radius:5px 0 0 5px;
    }
    #main-navigation .menu_search_form{
    }
    #main-navigation .menu_search_form .btn-default{
    }
    /* /search block */
    /* /main navigation */

}



@media(max-width:320px){
    body{
        overflow-x:auto;
        width:320px;
    }
}