/* --------------- Search Block ---------------- */
#block-nexteuropa-europa-search-nexteuropa-europa-search-form .panel-body {
  padding: 0px;
}

#nexteuropa-europa-search-search-form, #search-block-form  {
  position: absolute;
  right: 7px;
  top: 18px;
  margin: 0;
  padding: 0;
  z-index: 1;
  .input-group {
    background: url("../images/search-background.gif") no-repeat scroll left top;
    height: 17px;
    margin: 0;
    padding: 0 0 9px 6px;
    width: 186px;
  }
  input,
  button {
    border: 0;
    float: left;
  }
  input.form-text {
    outline: 0 solid transparent;
    background: none;
    font-size: 100%;
    margin: -18px 0;
    width: 151px;
    font-family: Verdana, Arial, Helvetica, "DejaVu Sans", sans-serif;
  }
  .form-item {
    margin-top : 1em;
  }
  .form-actions .form-submit {
    cursor: pointer;
    height: 26px;
    width: 32px;
    padding: 0px;
    margin-right: 0px;
    background: none;
  }
  .input-group-search .form-submit {
    cursor: pointer;
    height: 26px;
    width: 32px;
    padding: 0px;
    margin-right: 0px;
    background: none;
    float: right;
    margin-top: -14px;
    margin-right: -2px;
  }
  label {
    position: absolute;
    left: -9999px;
    top: -9999px;
    padding: 5px;
    width: 150px;
    height: 16px;
    font-size: 100%;
    overflow: hidden;
  }

  /* WebKit, Blink, Edge */
  input::-webkit-input-placeholder {
    color: #555;
  }

  /* Mozilla Firefox 4 to 18 */
  input:-moz-placeholder {
    color: #555;
    opacity: 1;
  }

  /* Mozilla Firefox 19+ */
  input::-moz-placeholder {
    color: #555;
    opacity: 1;
  }

  /* Internet Explorer 10-11 */
  input:-ms-input-placeholder {
    color: #555;
  }
}
