#layout-body p,
#layout-body div.field-content,
#layout-body span.field-content,
#layout-body span.freepager-previous,
#layout-body span.freepager-next,
#layout-body div.freepager-current,
#layout-body .btn,
#layout-body .pager,
#layout-footer,
#main-menu {
  font-size: 1.2em;
}